$body-background: linear-gradient(164deg, rgba(137, 174, 196, 0.34), #fff, rgba(0, 117, 127, 0.19)) no-repeat fixed;
$color-default-text: #212121;
$primary-color: #072938;



$color-default: #f2f1f0;
$color-light-cyan: #ecf2f6;
$color-light-orange: #faefdf;
$color-light-lime: #f0f2cb;