:local(.headerSection) {
    margin-bottom: 24px;
    :local(.subtitle) {
        display: block;
        margin-top: -12px;
    }
}

:local(.introText) {
    margin-bottom: 70px;
    :local(.paragraphGroup) {
        margin-bottom: 20px;
    }
    p {
        margin: 0;
    }
    ul {
        margin: 0;
        line-height: 1.6;
    }
}

:local(.warningBox) {
    background-color: #fff0c1;
    padding: 20px 30px;
    margin-bottom: 30px;
    :local(.boxTitle) {
        font-family: "Altis", sans-serif;
        padding-bottom: 10px;
        border-bottom: 0.5px solid rgba(0, 0, 0, 0.5);
        font-weight: 500;
        font-size: 20px;
        color: #072938;
        line-height: 1.7;
    }
    :local(.boxList){
        font-family: "Open Sans", sans-serif;
        color: #000;
        overflow-wrap: break-word;
    }
}

:local(.infoBox) {
    background-color: #ecf2f6;
    color: #000;
    padding: 20px 30px;
    margin: 10px 0 40px;
    p {
        margin: 0;
    }
    a {
        margin-top: 5px;
        display: block;
    }
}

:local(.marginTop) {
    margin-top: 50px;
}

:local(.marginBottom) {
    margin-bottom: 50px;
}
