:local(.headerSection) {
    margin-bottom: 24px;
    :local(.subtitle) {
        display: block;
        margin-top: -12px;
    }
}

:local(.fieldSection){
    margin-bottom: 20px;
}

:local(dl.fieldList) {
    margin: -6px;
    > div {
        min-width: 120px;
        padding: 6px;
        dt {
            font-weight: bold;
            font-size: 18px;
            line-height: 1.3;
        }
        dd {
            margin: 0;
            font-size: 1.125rem;
        }
    }
    &:local(.inlineFieldList) {
        > div {
            dt {
                display: inline-block;
                margin-right: 0.5em;
            }
            dd {
                display: inline-block;
            }
        }
    }
}

:local(.inputGroup) {
    display: flex;
    flex-wrap: wrap;
    margin: -6px;
    > div {
        min-width: 120px;
        padding: 6px;
    }
}

:local(.fieldset) {
    background-color: rgba(0, 117, 127, 0.06);
    position: relative;
    padding: 16px 18px 20px;
    margin: 0 0 20px 0;
    width: 100%;
    box-shadow: none;
    border: none;
    legend {
        font-size: 20px;
        font-weight: 500;
        margin-bottom: 1em;
        padding: 0;
        position: relative;
        top: 1.5em;
    }
}

:local(.buttonRow) {
    margin-top: 20px;
    display: flex;
    justify-content: space-between;
    &:local(.reverse) {
        flex-direction: row-reverse;
    }
    > * {
        display: contents;
        color: transparent;

        button {
            margin-right: 0;
        }
    }
}

:local(.flexAuto) {
    flex: 0;
}


:local(.flex10) {
    flex: 1;
    flex-basis: 10%;
}

:local(.flex25) {
    flex: 1;
    flex-basis: 25%;
}

:local(.flex33) {
    flex: 1;
    flex-basis: 33.3333%;
}

:local(.flex50) {
    flex: 1;
    flex-basis: 25%;
}

:local(.flex66) {
    flex: 1;
    flex-basis: 66.6666%;
}

:local(.flex75) {
    flex: 1;
    flex-basis: 25%;
}

:local(.flex100) {
    flex: 1;
    flex-basis: 100%;
}

:local(.accordionItem) {
    margin-bottom: 20px;
    :local(.fieldset) {
        background-color: transparent;
        padding: 16px 0 0;
        margin: 0;
    }
}


:local(.cleanList) {
    list-style: none;
    padding: 0;
    margin: 0;
}