@import "./style/abstracts/_all.scss";

*,
*::before,
*::after {
  box-sizing: border-box;
}

body {
  margin: 0;
  font-family: $default-font;
  background: $body-background;
  color: $color-default-text;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New", monospace;
}

h2 {
  font-size: 32px;
}

h3 {
  font-size: 24px;
  margin: 0 0 8px;
}

.developmentTools {
  position: fixed;
  background: #303234;
  color: #fff;
  width: 330px;
  top: 0;
  right: 0;
  z-index: 2;
  padding: 8px;
  box-shadow: 0 2px 3px rgb(0 0 0 / 18%);
  select {
    width: 50%;
    background: #303234;
    color: #fff;
    font-size: 14px;;
    line-height: 18px;
    padding: 6px 4px;
  }
}
