@import "./style/abstracts/_all.scss";

html,
body {
    margin: 0;
    padding: 0;
    background-color: #eee;
    font-family: Arial, Helvetica, sans-serif;
    color: #000;
    font-size: 12px;
}
* {
    @include box-sizing(border-box);
}

.page {
    margin: 1cm auto;
    background: #fff;
    box-shadow: 0 4px 5px rgba(75, 75, 75, 0.2);
}

div.page-break {
    page-break-after: always;
}

*.hide-on-print {
    display: none;
}

.flex {
    display: flex;
}

h1 {
    font-size: 17px;
    small {
        display: block;
        font-size: 12px;
        font-weight: normal;
    }
}

h1,
h2,
h3,
h4,
h5,
h6,
div[class^="Header_headerContainer_"] {
    page-break-after: avoid;
}

*.step-heading-on-print {
    page-break-before: auto;
    page-break-after: avoid;
}

p {
    margin: 0 0 0.25cm 0;
}

a {
    text-decoration: none;
    color: black;
}
table {
    page-break-inside: avoid;
}
@page {
    orphans: 4;
    widows: 2;
}
@media print {
    html,
    body {
        background-color: #fff;
    }
    .page {
        width: initial !important;
        min-height: initial !important;
        margin: 0 !important;
        padding: 0 !important;
        border: initial !important;
        border-radius: initial !important;
        background: initial !important;
        box-shadow: initial !important;
        page-break-after: always;
    }
}

.page {
    width: 21cm;
    min-height: 29.7cm;
    padding-left: 1.5cm;
    padding-top: 1cm;
    padding-right: 1cm;
    padding-bottom: 1cm;
}
@page {
    size: A4 portrait;
    margin-left: 1.5cm;
    margin-top: 1cm;
    margin-right: 1cm;
    margin-bottom: 1cm;
}

.border {
    border: 1px solid black;
}
.border-wide {
    border: 2px solid black;
}
.border-top {
    border-top: 1px solid black;
}
.border-right {
    border-right: 1px solid black;
}
.border-bottom {
    border-bottom: 1px solid black;
}
.border-left {
    border-left: 1px solid black;
}
.border-top-wide {
    border-top: 2px solid black;
}
.border-right-wide {
    border-right: 2px solid black;
}
.border-bottom-wide {
    border-bottom: 2px solid black;
}
.border-left-wide {
    border-left: 2px solid black;
}

.nowrap {
    white-space: nowrap;
}
.text-center {
    text-align: center;
}

.headerbox {
    border: 1px solid black;
    display: inline-block;
    width: 96px;
    margin-right: 8px;
    dl {
        padding: 0;
        margin: 0;
        dt,
        dd {
            padding: 0 4px;
            margin: 0;
        }
        dt {
            font-size: 9px;
            line-height: 1.5em;
        }
        dd {
            font-size: 14px;
            line-height: 1.75em;
        }
    }
}

table {
    border-collapse: collapse;
    width: 100%;
    font-size: 11px;
}

tr {
    &.space {
        height: 20px;
    }
}

th,
td {
    padding: 0;
    text-align: left;
    &.content {
        padding: 3px 8px;
    }

    dl {
        padding: 0;
        margin: 0;
        dt,
        dd {
            padding: 0 4px;
            margin: 0;
            line-height: 1.5em;
        }
        dt {
            font-size: 9px;
        }
    }
}

td {
    height: 30px;
}

.bg-dark-gray {
    background-color: #ccc;
}
.bg-light-gray {
    background-color: #ededed;
}

.checkbox-container {
    display: flex;
    align-items: center;
}

.checkbox {
    border: 1px solid black;
    background-color: #fff;
    height: 16px;
    width: 16px;
    display: inline-block;
    vertical-align: bottom;
    margin-right: 4px;
    &.checked {
        &:before {
            content: "X";
            display: block;
            text-align: center;
            font-size: 13px;
        }
    }
}
